p{
    text-align: center;
}
#Brodtext{
    text-align: center;
}
a{
    color: black;
}
nav{
    background-color: #222;
}
#navbar{
    color: white;
    text-decoration: none;
}
header{
    text-align: center;
}
#loginHeader{
    text-align: center;
}